<?xml version="1.0" encoding="utf-8"?>

<robot name="Wheel-Legged-Infantry">
    <mujoco>
        <compiler meshdir="../meshes/" balanceinertia="false" discardvisual="false" fusestatic="false"/>
    </mujoco>
    <link name="baase">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="100"/>
            <inertia ixx="1" ixy="0.001321" ixz="-0.01715" iyy="1" iyz="0.0002667" izz="1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/baase.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.02" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.03 0.04"/>
            </geometry>
        </collision>
    </link>
    <link name="whe">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.468"/>
            <inertia ixx="0.000034258" ixy="0.0" ixz="0.0" iyy="0.0000540375" iyz="0.0" izz="0.0000343769"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/whe50.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <cylinder length="0.03" radius="0.026"/>
            </geometry>
        </collision>
    </link>
    <joint name="whe_joint" type="continuous">
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <parent link="baase"/>
        <child link="whe"/>
        <axis xyz="0 1 0"/>
    </joint>


</robot>